@model DigitalLibrary.Models.ViewModels.BookVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
   <input asp-for="Book.Id" hidden />
   <input asp-for="Book.ImageURL" hidden />
   <input asp-for="Book.BookURL" hidden />
   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Add new Wish</h2>
           <hr />
       </div>

       <div class="row mb-3">
           <div class="col-6">
               <label asp-for="Book.Title"></label>
               <input asp-for="Book.Title" class="form-control"/>
               <span asp-validation-for="Book.Title" class="text-danger"></span>
           </div>
           <div class="col-6">
               <label asp-for="Book.Author"></label>
               <input asp-for="Book.Author" class="form-control"/>
               <span asp-validation-for="Book.Author" class="text-danger"></span>
           </div>
       </div>
       <div class="row mb-3">
           <div class="col-6">
               <label asp-for="Book.CategoryId">Category</label>
               <select asp-for="Book.CategoryId" asp-items="@Model.Category" class="form-control">
                   <option disabled selected>---Select Category---</option>
               </select>
               <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
           </div>
       </div>

   </div>

        <div class="row mb-3">
           <div class="col-6">
               <label asp-for="Book.StatusId">Status</label>
               <select asp-for="Book.StatusId" asp-items="@Model.Status" class="form-control">
                   <option disabled selected>---Select Status---</option>
               </select>
               <span asp-validation-for="Book.StatusId" class="text-danger"></span>
           </div>
       </div>
       <div class="row mb-3">
           <div class="col-12">
               <label asp-for="Book.Description"></label>
               <textarea asp-for="Book.Description" class="form-control"></textarea>
               <span asp-validation-for="Book.Description" class="text-danger"></span>
           </div>
       </div>
       <div class="row mb-3">
            <div class="col-6">
                <label asp-for="Book.ImageURL"></label>
                <input type="file" id="uploadBox" name="fileImage" class="form-control"/>
            </div>
       </div>
       <div class="row mb-3">
            <div class="col-12">
                <img src="@Model.Book.ImageURL" style="border-radius:5px;border:1px;width:50%"/>
            </div>
       </div>
       <div class="row mb-3">
            <div class="col-12">
                <button type="submit" class="btn btn-primary" style="width:100%">Create</button>
            </div>
       </div>
       <div class="row mb-3">
            <div class="col-12">
                <a asp-controller="WishList" asp-action="Index" class="btn btn-primary" style="width:100%">Take Me Back</a>
            </div>
       </div>

</form>

@section Scripts{
    <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>
}