@model DigitalLibrary.Models.ViewModels.BookVM

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input asp-for="Book.Id" hidden/>
    <input asp-for="Book.ImageURL" hidden/>
    <input asp-for="Book.BookURL" hidden/>

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Book</h2>
            <hr/>
        </div>

        <div class="row mb-3">

            <div class="col-4">
                <img src="@Model.Book.ImageURL" style="border-radius:5px;border:1px;width:50%"/>
            </div>

            <div class="col-4">
                <div class="row mb-5">
                    <label asp-for="Book.Title">@Model.Book.Title</label>
                </div>
                <div class="row mb-5">
                    <label asp-for="Book.Author">@Model.Book.Author</label>
                </div>
            </div>

            <div class="col-4">
            <div class="row mb-5">
                <button type="submit" class="btn btn-danger" style="width:100%">
                    <img src="/lib/bootstrap/icons/trash.svg" alt="Bootstrap" width="20" height="40">Delete
                </button>
            </div>
            <div class="row mb-5">
                <a asp-controller="Book" asp-action="Index" class="btn btn-primary" style="width:100%">Take Me Back</a>
            </div>
            </div>

        </div>

        

        
    </div>
    
</form>
