@model DigitalLibrary.Models.ViewModels.BookVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
   <input asp-for="Book.Id" hidden />
   <input asp-for="Book.ImageURL" hidden />
   <input asp-for="Book.BookURL" hidden />
   <input asp-for="Book.Title" hidden />
   <input asp-for="Book.Author" hidden />
   <input asp-for="Book.CategoryId" hidden />
   <input asp-for="Book.BookTypeId" hidden/>
   <select asp-for="Book.StatusId" class="form-control" hidden><option selected>1</option></select>

   <div class="border p-3 mt-4">
       <div class="row pb-2">
           <h2 class="text-primary">Congratulations</h2>
           <hr />
       </div>

       <div class="row mb-3">
           <div class="col-2">
               <img src="@Model.Book.ImageURL" style="border-radius:1px;border:1px;width:100%"/>
           </div>

           <div class="col-10">
               <div class="border p-3 mt-4">
                   <div class="row mb-3">
                        <h2 class="text-primary">Rate this book [ 1 - 5 ]</h2>
                        <hr />
                   </div>
                   <div class="row mb-3">
                       <div class="col-2">
                         <label asp-for="Book.Grade1">Fabula</label>
                         <input asp-for="Book.Grade1" value="0" class="form-control"/>
                         <span asp-validation-for="Book.Grade1" class="text-danger"></span>
                       </div>
                       <div class="col-2">
                         <label asp-for="Book.Grade2">Spojnosc</label>
                         <input asp-for="Book.Grade2" value="0" class="form-control"/>
                         <span asp-validation-for="Book.Grade2" class="text-danger"></span>
                       </div>
                       <div class="col-2">
                          <label asp-for="Book.Grade3">Akcja</label>
                          <input asp-for="Book.Grade3" value="0" class="form-control"/>
                          <span asp-validation-for="Book.Grade3" class="text-danger"></span>
                       </div>
                       <div class="col-2">
                         <label asp-for="Book.Grade4">Bohaterowie</label>
                         <input asp-for="Book.Grade4" value="0" class="form-control"/>
                         <span asp-validation-for="Book.Grade4" class="text-danger"></span>
                       </div>
                       <div class="col-2">
                          <label asp-for="Book.Grade5">Narracja</label>
                          <input asp-for="Book.Grade5" value="0" class="form-control"/>
                          <span asp-validation-for="Book.Grade5" class="text-danger"></span>
                       </div>
                   </div> 
               </div>
           </div>
           
           <div class="border p-3 mt-4">
               <div class="row pb-2">
                   <h2 class="text-primary">Want to add something to description ?</h2>
                   <hr />
               </div>
               <div class="row mb-3">
                    <div class="col-2">
                        <input asp-for="Book.Description" class="form-control"/>
                        <span asp-validation-for="Book.Description" class="text-danger"></span>
                    </div>
               </div> 
           </div>

           <div class="row p-3 mb-2">
               <div class="col-6">
                   <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
               </div>
               <div class="col-6">
                   <a asp-controller="Home" asp-action="Index" class="btn btn-info" style="width:100%">Not yet</a>
               </div>
           </div>
       </div>
    </div>
</form>