@model Grade

<form method="post" asp-action="Create">
    <div class="row pb-2">
        <h2 class="text-primary">Add New Grade</h2>
        <br/>
    </div>
    <div asp-validation-summary="All"></div>

    <div class="row mb-3">
        <div class="col-5">
            <input asp-for="GradeName" class="form-control" placeholder="Name Your Grade"/>
            <span asp-validation-for="GradeName" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary" style="width:100%">Create!</button>
        </div>
        <div class="col-3">
            <a asp-controller="Grade" asp-action="Index" class="btn btn-dark">Take me back</a>
        </div>
    </div>


</form>
