@model IEnumerable<Grade>

@{
    ViewData["Title"] = "Index";
}

<div class = "container p-3">
    <div class="row pt-2">
        <div class="col-6">
            <h2 class="text-primary">Grade's</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Grade" asp-action="CreatePage" class="btn btn-primary">
                <img src="/lib/bootstrap/icons/plus-square.svg" alt="Bootstrap" width="25" height="25">
                New Grade
            </a>
        </div>

    </div>
    <br/><br/>

    <table class="table tableborder table-striped" style="width:70%">
        <thead>
            <tr>
                <th width="70%">
                    
                </th>
                <th width="30%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Object in Model)
            {
                <tr>
                    <th>
                        @Object.GradeName
                    </th>
                    <th>
                        <div class="w-40 btn-group text-end" role="group">
                            <a asp-controller="Grade" asp-action="DeletePage" asp-route-id="@Object.ID" class="btn btn-danger mx-2">
                                <img src="/lib/bootstrap/icons/trash.svg" alt="Bootstrap" width="20" height="20">
                                Delete
                            </a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>

</div>
